In [ ]:
# Do some assignments, and look at booleans / true false

In [3]:
x = 24

In [6]:
type(x == 24)

bool

In [7]:
True

True

In [8]:
type(True)

bool

In [9]:
type(False)

bool

In [10]:
x == 24

True

In [11]:
x == 12 + 12

True

In [12]:
y = 25

In [13]:
x == y

False

In [16]:
# Impact of and / or

In [14]:
x == 24 or y == 24

True

In [15]:
x == 24 and y == 24

False

# if statement
remember that indentation matters. So does case.
only the first condition evaluated will print, and the rest of the if statement is skipped

In [20]:
if x == 24:
    print("The expression was True.")

The expression was True.

In [31]:
if x == 24:
    print("The expression was True.")
    print("This will also print if it's True.")
    print("This is also tied to the boolean statement.")
print("But this isn't at all")

The expression was True.
This will also print if it's True.
This is also tied to the boolean statement.
but this isn't at all

In [38]:
if x == 24:
    print("The expression was True.")
    print("This will also print if it's True.")
    print("This is also tied to the boolean statement.")
else:
    print("Nothing is true.")
print("Not attached to anything")

The expression was True.
This will also print if it's True.
This is also tied to the boolean statement.
Not attached to anything

In [59]:
if x == 24:
    print("The expression was True.")
    print("This will also print if it's True.")
    print("This is also tied to the boolean statement.")
    if x < 25:
        print(f"X is less than 25: {x}")
else:
    print("Nothing is true.")
    print("Attached to the else.")
print("Not attached to anything")

The expression was True.
This will also print if it's True.
This is also tied to the boolean statement.
X is less than 25: 24
Not attached to anything

In [54]:
if x == 25:
    print("The expression was True.")
    print("This will also print if it's True.")
    print("This is also tied to the boolean statement.")
    if y == 25:
        print("Add this when y is 25")
elif y == 25:
    print(f"The value of y is: {y}")
else:
    print("Nothing is true.")
    print("Attached to the else.")
print("Not attached to anything")

The value of y is: 25
Not attached to anything

In [ ]:
# What get's evaluated first in expressions?
# Python evaluates and before it evaluates or

In [42]:
False == False

True

In [46]:
True or False and False and False

True

In [47]:
(True or False) and False and False

False

In [48]:
False and True or True

True

In [50]:
False and True or True and False

False

In [60]:
# Looking at the print function
# opening a string with f"" you can use stuff inside {} to execute as standard code.

In [61]:
"The value of x squared: x **2"

'The value of x squared: x **2'

In [62]:
f"The value of x squared: {x **2}"

'The value of x squared: 576'

In [63]:
f'The value of x squared: {x **2}'

'The value of x squared: 576'

In [64]:
# String types - can use any types of strings

In [66]:
"This is a string"

'This is a string'

In [67]:
'This is also a string'

'This is also a string'

In [68]:
# input function

In [69]:
age = input("What is your age?:")

What is your age?:35

In [70]:
age

'35'

In [71]:
# Lists / Slicing

In [96]:
our_list = [23,59,True,False,4,52,'this','Tyg','Quidroth','Zendi',[1,3,6,2,5]]

In [77]:
our_list[0]

23

In [78]:
our_list[1]

59

In [79]:
our_list[3]

False

In [80]:
our_list[-1] # Negative index start from right and go backwards

[1, 3, 6, 2, 5]

In [81]:
our_list[-2]

'Zendi'

In [82]:
our_list[-3]

'Quidroth'

In [83]:
our_list[:4]

[23, 59, True, False]

In [84]:
our_list[-1:]

[[1, 3, 6, 2, 5]]

In [86]:
our_list[-2:]

['Zendi', [1, 3, 6, 2, 5]]

In [87]:
our_list[5:] # Everything from position 5 to the end

[52, 'this', 'Tyg', 'Quidroth', 'Zendi', [1, 3, 6, 2, 5]]

In [88]:
our_list[1:-1]

[59, True, False, 4, 52, 'this', 'Tyg', 'Quidroth', 'Zendi']

In [90]:
our_list[2:6]

[True, False, 4, 52]

In [97]:
our_list.append('the last item') # Adds an item to the end of the list

In [92]:
our_list[-1]

'the last item'

In [93]:
our_list

[23,
 59,
 True,
 False,
 4,
 52,
 'this',
 'Tyg',
 'Quidroth',
 'Zendi',
 [1, 3, 6, 2, 5],
 'the last item']

In [94]:
our_list.pop() # Takes off the last item on the list

'the last item'

In [98]:
# Removes the item at position 2
our_list.pop(2)

True

In [99]:
our_list

[23,
 59,
 False,
 4,
 52,
 'this',
 'Tyg',
 'Quidroth',
 'Zendi',
 [1, 3, 6, 2, 5],
 'the last item']

In [ ]:
# loops

# for <var_name> in <any thing that has a position in it>

In [101]:
for each_item in our_list:
    print(each_item)

23
59
False
4
52
this
Tyg
Quidroth
Zendi
[1, 3, 6, 2, 5]
the last item

In [102]:
for each_item in our_list:
    if type(each_item) == str:
        print(f"The item {each_item} is a string")
    else:
        print(f"Item {each_item} is not a string")

Item 23 is not a string
Item 59 is not a string
Item False is not a string
Item 4 is not a string
Item 52 is not a string
The item this is a string
The item Tyg is a string
The item Quidroth is a string
The item Zendi is a string
Item [1, 3, 6, 2, 5] is not a string
The item the last item is a string

In [103]:
our_string = "This is a test string"

In [104]:
our_string[1]

'h'

In [105]:
our_string[0:5]

'This '

In [122]:
our_string = 'this is some text'

In [124]:
our_string[-4:]

'text'

In [125]:
our_string[-4:-2]

'te'

In [126]:
our_string[:-4]

'this is some '

In [106]:
for char in our_string:
    print(char)

T
h
i
s

i
s

a

t
e
s
t

s
t
r
i
n
g

In [107]:
import os

In [119]:
os.listdir()

['Labs',
 'Class 2 Prompt - Comparisons & Booleans.ipynb',
 'class2-my-notebook-1.ipynb',
 '.ipynb_checkpoints']

In [121]:
for file in os.listdir():
    if file[-6:] == '.ipynb':
        print(f"Ths file '{file}' is an Jupyter notebook file")

Ths file 'Class 2 Prompt - Comparisons & Booleans.ipynb' is an Jupyter notebook file
Ths file 'class2-my-notebook-1.ipynb' is an Jupyter notebook file

In [115]:
our_tuple = (2,4,5,6)
our_set = {'hi','goodbye','the last item','goodbye'}

In [116]:
for item in our_tuple:
    print(item)

2
4
5
6

In [117]:
for item in our_set:
    print(item)

goodbye
the last item
hi

In [128]:
# Examples about why indentation is important
for item in our_list:
    if type(item) == str:
        print(f"The '{item}' is a string")
    print("Will this print for every item? - yes")
print("This prints at the end")

Will this print for every item? - yes
Will this print for every item? - yes
Will this print for every item? - yes
Will this print for every item? - yes
Will this print for every item? - yes
The 'this' is a string
Will this print for every item? - yes
The 'Tyg' is a string
Will this print for every item? - yes
The 'Quidroth' is a string
Will this print for every item? - yes
The 'Zendi' is a string
Will this print for every item? - yes
Will this print for every item? - yes
The 'the last item' is a string
Will this print for every item? - yes
This prints at the end

In [132]:
list_of_lists = [[3,6,8],[7,3,4],[23,2,'the end'],'34']

In [133]:
# Let's us loop through sub lists that are in the main list 
# / be careful (i.e. it will treat )
for item in list_of_lists:
    for sub_item in item:
        print(sub_item)

3
6
8
7
3
4
23
2
the end
3
4

In [135]:
list_of_lists[-2]

[23, 2, 'the end']

In [136]:
list_of_lists[-2][-1]

'the end'

In [138]:
list_of_lists[-2][:2]

[23, 2]

In [142]:
our_string

'this is some text'

In [143]:
our_string.split()

['this', 'is', 'some', 'text']

In [144]:
our_string.split('i')

['th', 's ', 's some text']

In [145]:
for word in our_string.split():
    print(word)

this
is
some
text

In [151]:
list_of_lists[-2][-1].split()

['the', 'end']

In [152]:
y = 12395

In [155]:
for n in str(y):
    print(n)

1
2
9
4
4

In [156]:
for n in y:
    print(n)

1
2
9
4
4

In [157]:
y[2]

'9'

In [159]:
for _list in list_of_lists:
    for item in _list:
        print(item)
        if type(item) == str:
            print(item.split())

3
6
8
7
3
4
23
2
the end
['the', 'end']
3
['3']
4
['4']

In [160]:
# There isn't any straightforward / simple way to break or unpack a nested list.
# You need to do this carefully

In [161]:
flat_list = []

for item in list_of_lists:
    for sub_item in item:
        flat_list.append(sub_item)

In [162]:
flat_list

[3, 6, 8, 7, 3, 4, 23, 2, 'the end', '3', '4']

In [163]:
# Example from intermeidate lab
# Common problem is a check if any values are empty

In [170]:
# sample data
users = [
    ('John', 34, None), ('Abby', 21, 'NY'), ('Jill', 41, 'OH'), ('Jason', 59, 'AL'), ('William', 35, None),
    ('Wynona', 62, 'WY'), ('Barbara', 42, None), ('Harold', 52, None), ('Jose', 41, 'NH'), ('Ariel', 48, 'OR')
]

In [165]:
if 24:
    print("It's true")

It's true

In [167]:
if False:
    print("It's true")

In [168]:
if None:
    print("it's true")

In [169]:
if []:
    print("it's true")

In [171]:
list1 = [2,3,4,'hi']

In [172]:
all(list1)

True

In [173]:
list2 = [2,None,3,'hi']

In [174]:
all(list2)

False

In [175]:
any(list2)

True