### Pandas Lab -- Grouping & Merging

Welcome to today's lab!  It will come in two different parts:  

One section will be devoted to using the `groupby` method in order to answer different questions about our data.  

The second portion will be devoted towards combining grouping & merging to create summary statistics -- one of the more important features you can add to a dataset for statistical modeling.

### Section I - Grouping

In [63]:
import numpy as np
import pandas as pd

In [64]:
df = pd.read_csv("/Users/PRSmb/OneDrive/General-Assembly/my-1019-repo/ClassMaterial/Unit2/data/restaurants.csv")

In [65]:
df.head()

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
0,air_ba937bf13d40fb24,2016-01-13,25,2016-01-13,Wednesday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
1,air_ba937bf13d40fb24,2016-01-14,32,2016-01-14,Thursday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
2,air_ba937bf13d40fb24,2016-01-15,29,2016-01-15,Friday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
3,air_ba937bf13d40fb24,2016-01-16,22,2016-01-16,Saturday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN
4,air_ba937bf13d40fb24,2016-01-18,6,2016-01-18,Monday,0,Dining bar,Tōkyō-to Minato-ku Shibakōen,35.658068,139.751599,NaN

**Question 1:** What restaurant had the highest total amount of visitors throughout the dataset?

In [9]:
# your answer here

In [66]:
df.groupby('id')['visitors'].sum().max()

18717

In [67]:
a = df.groupby('id')['visitors'].sum().reset_index()

In [68]:
a[(a['visitors']==18717)]

                       id  visitors
172  air_399904bdb7685ca0     18717

In [69]:
df[(df['id']=='air_399904bdb7685ca0')]

,id,visit_date,visitors,calendar_date,day_of_week,holiday,genre,area,latitude,longitude,reserve_visitors
13497,air_399904bdb7685ca0,2016-01-13,20,2016-01-13,Wednesday,0,Italian/French,Ōsaka-fu Ōsaka-shi Kyūtarōmachi,34.681261,135.509801,NaN
13498,air_399904bdb7685ca0,2016-01-14,4,2016-01-14,Thursday,0,Italian/French,Ōsaka-fu Ōsaka-shi Kyūtarōmachi,34.681261,135.509801,NaN
13499,air_399904bdb7685ca0,2016-01-15,116,2016-01-15,Friday,0,Italian/French,Ōsaka-fu Ōsaka-shi Kyūtarōmachi,34.681261,135.509801,NaN
13500,air_399904bdb7685ca0,2016-01-16,51,2016-01-16,Saturday,0,Italian/French,Ōsaka-fu Ōsaka-shi Kyūtarōmachi,34.681261,135.509801,NaN
13501,air_399904bdb7685ca0,2016-01-18,33,2016-01-18,Monday,0,Italian/French,Ōsaka-fu Ōsaka-shi Kyūtarōmachi,34.681261,135.509801,NaN
...,...,...,...,...,...,...,...,...,...,...,...
13949,air_399904bdb7685ca0,2016-04-24,5,2016-04-24,Sunday,0,Italian/French,Ōsaka-fu Ōsaka-shi Kyūtarōmachi,34.681261,135.509801,NaN
13950,air_399904bdb7685ca0,2016-05-29,102,2016-05-29,Sunday,0,Italian/French,Ōsaka-fu Ōsaka-shi Kyūtarōmachi,34.681261,135.509801,NaN
13951,air_399904bdb7685ca0,2016-01-12,43,2016-01-12,Tuesday,0,Italian/French,Ōsaka-fu Ōsaka-shi Kyūtarōmachi,34.681261,135.509801,NaN
13952,air_399904bdb7685ca0,2016-02-01,21,2016-02-01,Monday,0,Italian/French,Ōsaka-fu Ōsaka-shi Kyūtarōmachi,34.681261,135.509801,NaN
13953,air_399904bdb7685ca0,2016-01-31,53,2016-01-31,Sunday,0,Italian/French,Ōsaka-fu Ōsaka-shi Kyūtarōmachi,34.681261,135.509801,NaN

In [ ]:
air_399904bdb7685ca0

In [ ]:
# Proposed solution

In [70]:
visits = df.groupby('id')['visitors'].sum()

In [59]:
df

id
air_00a91d42b08b08d9    6051
air_0164b9927d20bcc3    1378
air_0241aa3964b7f861    3919
air_0328696196e46f18     921
air_034a3d5b40d5b1b1    3722
                        ...
air_fea5dc9594450608    3969
air_fee8dcf4d619598e    7496
air_fef9ccb3ba0da2f7    2357
air_ffcc2d5087e1b476    4919
air_fff68b929994bfbd    1369
Name: visitors, Length: 829, dtype: int64

In [62]:
df.reset_index

AttributeError: 'function' object has no attribute 'idmax'

**Question 2:** What was the average difference in attendance between holidays & non-holidays for each restaurant?

In [53]:
# your answer here
?pd.Series.diff

In [49]:
df.groupby(['id','holiday'])['visitors'].mean().diff()

id                    holiday
air_00a91d42b08b08d9  0                NaN
                      1          -5.103896
air_0164b9927d20bcc3  0         -11.708333
                      1          -1.291667
air_0241aa3964b7f861  0           1.883905
                                   ...
air_fef9ccb3ba0da2f7  1           2.534783
air_ffcc2d5087e1b476  0           8.436975
                      1          -9.436975
air_fff68b929994bfbd  0          -5.906615
                      1          -0.093385
Name: visitors, Length: 1646, dtype: float64

In [34]:
q2 = df.groupby(['id','holiday'])['visitors'].mean().reset_index()

In [41]:
q2[(q2['holiday']==1)]

                        id  holiday   visitors
1     air_00a91d42b08b08d9        1  21.000000
3     air_0164b9927d20bcc3        1   8.000000
5     air_0241aa3964b7f861        1  10.176471
7     air_0328696196e46f18        1   7.166667
9     air_034a3d5b40d5b1b1        1  14.400000
...                    ...      ...        ...
1637  air_fea5dc9594450608        1  14.400000
1639  air_fee8dcf4d619598e        1  28.882353
1641  air_fef9ccb3ba0da2f7        1  12.000000
1643  air_ffcc2d5087e1b476        1  11.000000
1645  air_fff68b929994bfbd        1   5.000000

[817 rows x 3 columns]

In [42]:
q2[(q2['holiday']==0)]

                        id  holiday   visitors
0     air_00a91d42b08b08d9        0  26.103896
2     air_0164b9927d20bcc3        0   9.291667
4     air_0241aa3964b7f861        0   9.883905
6     air_0328696196e46f18        0   7.981818
8     air_034a3d5b40d5b1b1        0  14.855932
...                    ...      ...        ...
1636  air_fea5dc9594450608        0  14.488636
1638  air_fee8dcf4d619598e        0  25.848708
1640  air_fef9ccb3ba0da2f7        0   9.465217
1642  air_ffcc2d5087e1b476        0  20.436975
1644  air_fff68b929994bfbd        0   5.093385

[829 rows x 3 columns]

In [45]:
q2[(q2['holiday']==0)]['visitors'] - q2[(q2['holiday']==1)]['visitors']

### Suggested solution Q2:

In [76]:
restauarant_visits = df.groupby(['id','holiday'])['visitors'].mean().reset_index()

In [77]:
restauarant_visits

                        id  holiday   visitors
0     air_00a91d42b08b08d9        0  26.103896
1     air_00a91d42b08b08d9        1  21.000000
2     air_0164b9927d20bcc3        0   9.291667
3     air_0164b9927d20bcc3        1   8.000000
4     air_0241aa3964b7f861        0   9.883905
...                    ...      ...        ...
1641  air_fef9ccb3ba0da2f7        1  12.000000
1642  air_ffcc2d5087e1b476        0  20.436975
1643  air_ffcc2d5087e1b476        1  11.000000
1644  air_fff68b929994bfbd        0   5.093385
1645  air_fff68b929994bfbd        1   5.000000

[1646 rows x 3 columns]

In [79]:
restauarant_visits.groupby('id')['visitors'].diff().dropna()

1      -5.103896
3      -1.291667
5       0.292566
7      -0.815152
9      -0.455932
          ...
1637   -0.088636
1639    3.033644
1641    2.534783
1643   -9.436975
1645   -0.093385
Name: visitors, Length: 817, dtype: float64

**Question 3:** Can you grab the first 15 rows of dates for each restaurant?  The last 15 rows?

In [2]:
# your answer here

**Question 4:** Grab the quarterley sales for each individual restaurant within our dataset

In [3]:
# your answer here

**Question 6:** What restaurant had the highest amount of reservations?

In [4]:
# your answer here

**Question 7:** What is the total number of missing entries for each restaurant?

In [5]:
# your answer here

**Question 8:**  Create two variables, `train` and `test`.  Make `train` a dataset that contains all but the **last 15 rows** for each restaurant.  Make `test` the last 15 rows for each restaurant.

In [6]:
# your answer here

### Grouping & Merging

In this section of the lab, we are going to create different types of summary statistics -- where the rows for an individual sample can be compared with a larger group statistic.

**Bonus:** If you want to make this a little bit more effective, instead of using the entire `df`, try using a grouping from the `train` variable you just created, and use the grouping's values to populate both the training and test sets.

Use the technique discussed in class to create columns for the following stats:

**Question 1:** Create columns that list the average, median and standard deviation of visitors for each restaurant

In [7]:
# your answer here

**Question 2:** Create a column that lists the average and median sales amount for each restaurant on a particular day of the week.

In [8]:
# your answer here

**Question 3:** Create columns that display the average and median sales amount for each genre in each city on each day of the week.  Create a column called `city` that captures the first value of `area` in order to this.  Values should be `Tokyo`, `Hiroshima`, etc.  **Hint:** You should use the `str` attribute combined with `split` in order to do this.

In [9]:
# your answer here