# Kata
Convert a string, and return each letter with it's equivalent spot in the alphabet.

a = 1, b = 2, etc. Other characters shoould not be returned.

In [2]:
text = 'abcde'

In [8]:
text.upper()

'ABCDE'

In [11]:
a = list(text.upper())

In [12]:
a

['A', 'B', 'C', 'D', 'E']

In [6]:
ord('A')

65

In [13]:
ord('Z')

90

In [25]:
def alphabet_position(text):
    letters = list(text.upper())
    output = ''
    for i in letters:
        if (ord(i) >= 65) and (ord(i) <= 90):
            print(f"letter: {i} value: {ord(i)-64}")
            output = output + (str(ord(i)-64)+' ')
    if len(output) > 0:
        output = output[:-1]
    return output

In [26]:
alphabet_position("The sunset sets at twelve o' clock.")

letter: T value: 20
letter: H value: 8
letter: E value: 5
letter: S value: 19
letter: U value: 21
letter: N value: 14
letter: S value: 19
letter: E value: 5
letter: T value: 20
letter: S value: 19
letter: E value: 5
letter: T value: 20
letter: S value: 19
letter: A value: 1
letter: T value: 20
letter: T value: 20
letter: W value: 23
letter: E value: 5
letter: L value: 12
letter: V value: 22
letter: E value: 5
letter: O value: 15
letter: C value: 3
letter: L value: 12
letter: O value: 15
letter: C value: 3
letter: K value: 11

'20 8 5 19 21 14 19 5 20 19 5 20 19 1 20 20 23 5 12 22 5 15 3 12 15 3 11'

# Kata
Find the integer that appears an odd number of times in a sequence.

In [29]:
import unittest

In [43]:
def find_it(seq):
    seq.sort()
    my_set = set(seq)
    print(seq)
    print(my_set)
    for i in my_set:
        item_count = seq.count(i)
        if item_count%2 == 1:
            return i
        
    return None

In [44]:
find_it([20,1,-1,2,-2,3,3,5,5,1,2,4,20,4,-1,-2,5])
# Answer should be 5

[-2, -2, -1, -1, 1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 5, 20, 20]
{1, 2, 3, 4, 5, 20, -1, -2}

5